<% provide :title do %><%= t("proposal_ballots.title") %><% end %>
<!--<div class="expanded no-margin-top margin-bottom dark-heading">-->
  <!--<div class="row" data-equalizer>-->
    <!--<div class="small-12 medium-6 column padding" data-equalizer-watch>-->
      <!--<h2>-->
        <!--<%= t("proposal_ballots.title") %>-->
      <!--</h2>-->
      <!--<p>-->
        <!--<%= t("proposal_ballots.description_html").html_safe %>-->
      <!--</p>-->
    <!--</div>-->

    <!--<div class="small-12 medium-4 column info" data-equalizer-watch>-->
      <!--<p class="title"><strong><%= t("proposal_ballots.date_title") %></strong></p>-->
      <!--<p class="title-date"><%= t("proposal_ballots.date") %></p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<main>
  <div class="row">
    <div class="small-12 medium-9 column">

      <div class="small-12 margin-bottom">
        <%= link_to new_budget_investment_path(budget_id: @last_budget.id) do %>
            <div class="backgradient position-relative mb50">
              <div class="small-9 column v-center float-left">
                <h2><%= t("layouts.header.banner.balloting.title") %></h2>
                <p style="color: #333;"><%= @last_budget.description_balloting.html_safe %></p>
              </div>
              <div class="small-3 column v-center right">
                <%= image_tag('header-4.png') %>
              </div>
            </div>
        <% end %>
      </div>

      <div>
        <% if @proposal_ballots.present? %>
          <div class="proposals-ballot-list">
            <% @proposal_ballots.each do |proposal_for_vote| %>
              <%= render "successfull_proposal", proposal: proposal_for_vote %>
            <% end %>
          </div>
        <% else %>
          <p>
            <%= t("proposal_ballots.nothing_to_vote") %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</main>
