<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <div>
      <h1>Comunas</h1>
    </div>
    <ul class="comunas-menu">
      <li><a class="comunas">Comuna 1 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Retiro", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 1"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "San Nicolás", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 1"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Puerto Madero", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 1"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "San Telmo", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 1"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Montserrat", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 1"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Constitución", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 1"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 2 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Recoleta", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 2"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 3 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "San Cristóbal", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 3"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Balvanera", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 3"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 4 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Boca", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 4"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Barracas", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 4"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Parque Patricios", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 4"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Nueva Pompeya", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 4"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 5 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Almagro", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 5"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Boedo", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 5"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 6 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Caballito", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 6"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 7 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Flores", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 7"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Parque Chacabuco", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 7"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 8 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Villa Soldati", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 8"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Riachuelo", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 8"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Lugano", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 8"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 9 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Parque Avellaneda", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 9"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Liniers", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 9"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Mataderos", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 9"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 10 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Villa Real", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 10"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Monte Castro", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 10"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Versalles", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 10"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Floresta", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 10"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Vélez Sársfield", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 10"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Luro", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 10"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 11 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Villa Gral. Mitre", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 11"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Devoto", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 11"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa del Parque", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 11"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Santa Rita", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 11"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 12 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Coghlan", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 12"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Saavedra", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 12"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Urquiza", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 12"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Pueyrredón", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 12"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 13 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Belgrano", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 13"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Núñez", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 13"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Colegiales", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 13"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 14 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Palermo", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 14"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li><a class="comunas">Comuna 15 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <ul class="barrios">
          <li><%= link_to "Chacarita", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 15"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Crespo", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 15"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Paternal", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 15"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Villa Ortúzar", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 15"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Agronomía", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 15"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
          <li><%= link_to "Parque Chas", budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 15"), unfeasible: params[:unfeasible]), data: { no_turbolink: true } %></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="small-12 medium-9 column">
    <p>
      <%= image_tag('BAEligeMapa01.jpg', class: 'map', size: '611x633', usemap: '#simple') %>
      <map name="simple">
        <area href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 8"), unfeasible: params[:unfeasible]) %>" target="_blank" shape="poly" coords="288,463,300,459,321,497,176,619,90,484,173,444,190,473,247,438,276,444" alt="Link" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}'>
        <span><%= image_tag('comuna8.png', alt: 'Comuna8') %></span>

        <area shape="poly" coords="172,444,90,484,31,394,45,326,70,331,74,329,90,332,111,346,110,352,100,349,99,362,113,386,132,381,136,386,190,372,197,380,209,377,211,392,224,414,212,430,223,452,191,474" alt="Link" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 9"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna9.png', alt: 'Comuna9') %></span>

        <area shape="poly" coords="302,458,324,499,360,498,409,526,442,514,457,523,526,491,526,480,521,472,534,471,544,464,545,435,550,435,535,408,527,413,516,410,513,416,505,422,503,411,493,408,481,414,474,426,468,419,443,424,447,400,385,394,382,402,385,413,378,422,317,420,313,433,306,434,314,449" alt="Link" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 4"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna4.png', alt: 'Comuna4') %></span>

        <area shape="poly" coords="515,214,524,233,510,242,501,233,492,233,486,240,501,267,487,278,482,306,466,302,443,423,469,419,469,426,473,427,478,419,478,414,492,409,503,411,502,422,512,417,513,410,528,412,579,373,570,295,575,292,532,211" alt="Link" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 1"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna1.png', alt: 'Comuna1') %></span>

        <area shape="poly" coords="67,245,57,260,46,326,70,331,73,326,91,331,112,346,111,352,99,350,100,363,115,385,130,380,137,385,189,371,199,380,210,376,205,322,187,324,161,283,151,260,95,285" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 10"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna10.png', alt: 'Comuna10') %></span>

        <area shape="poly" coords="133,154,68,245,95,286,152,260,160,282,187,323,263,305,262,280,273,274,247,257,230,264,225,248,227,244,211,233,171,219,154,207" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 11"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna11.png', alt: 'Comuna11') %></span>

        <area shape="poly" coords="133,153,202,54,282,35,294,74,275,83,287,122,265,132,273,159,156,207" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 12"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna12.png', alt: 'Comuna12') %></span>

        <area shape="poly" coords="414,107,409,115,401,109,386,113,386,118,367,123,363,127,364,136,374,144,359,141,352,146,334,152,352,175,342,184,349,198,332,208,299,184,291,180,287,168,273,158,265,131,287,122,274,82,295,74,286,36,327,25,352,58,368,55" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 13"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna13.png', alt: 'Comuna13') %></span>

        <area shape="poly" coords="416,109,476,176,474,188,470,190,470,197,460,207,464,220,473,226,456,246,454,242,439,239,406,271,400,280,379,275,330,215,348,198,343,184,351,174,334,152,355,144,357,141,376,145,364,136,365,123,385,119,386,114,402,110" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 14"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna14.png', alt: 'Comuna14') %></span>

        <area shape="poly" coords="476,188,477,197,504,232,491,232,487,240,499,268,485,278,481,304,440,296,432,289,401,279,437,240,447,240,455,244,474,228,465,219,460,208,471,195,472,190,476,187" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 2"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna2.png', alt: 'Comuna2') %></span>

        <area shape="poly" coords="410,285,394,320,397,339,385,394,446,399,466,302,439,295,433,288,412,285" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 3"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna3.png', alt: 'Comuna3') %></span>

        <area shape="poly" coords="157,207,173,219,210,233,227,246,224,249,228,264,248,258,308,292,327,289,348,284,361,276,371,273,378,274,331,214,332,208,298,184,289,181,285,167,272,159" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 15"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna15.png', alt: 'Comuna15') %></span>

        <area shape="poly" coords="262,304,274,369,345,371,345,419,317,419,312,433,306,434,313,450,302,459,289,462,276,444,248,437,223,452,210,429,224,413,213,393,206,321" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 7"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna7.png', alt: 'Comuna7') %></span>

        <area shape="poly" coords="344,418,348,331,351,296,348,285,362,273,376,274,410,285,395,321,395,340,384,400,385,415,377,423,345,420" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 5"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna5.png', alt: 'Comuna5') %></span>

        <area shape="poly" coords="275,274,260,281,275,369,343,371,347,330,352,297,347,287,325,292,306,293" data-maphilight='{"strokeColor":"5ca29b","strokeWidth":2,"fillColor":"5ca29b","fillOpacity":0.4}' href="<%= budget_investments_path(heading_id: get_heading_id_from_name(@group, "Comuna 6"), unfeasible: params[:unfeasible]) %>">
        <span><%= image_tag('comuna6.png', alt: 'Comuna6') %></span>
      </map>
    </p>
  </div>
</div>

<div class="row margin-top">
  <div class="small-8">
    <p>El presupuesto fue dividido entre las 15 comunas que conforman a la Ciudad de Buenos Aires. La distribución de los presupuestos por comuna es en forma proporcional a su población e inversamente proporcional a su renta per cápita.</p>
    <p>La fuente para calcular el  ingreso promedio por habitante fue la  Encuesta Anual a Hogares del año 2014 que realizó la  Dirección General de Estadística y Censos del Gobierno de la Ciudad de Buenos Aires , y el cálculo de habitantes por comuna se basó en  el Censo del año 2010 que llevó a cabo el Instituto Nacional de Estadísticas y Censos.</p>
  </div>
</div>