<td valign="middle" style="align:justify; color:#636261; font-family:Arial; font-size:13px; padding:3px 30px;">

  <h1 style="color:rgba(0,0,0,.7); font-family:Arial; font-weight:bold; font-size:28px;">
    <%= t("mailers.comment.title") %>
  </h1>

  <p>
    <strong><span style="align:justify; color:#636261; font-family:Arial; font-size:16px;">
    <%= t("mailers.comment.hi") %> <strong><%= @commentable.author.name %>!</strong>
    </span></strong>
  </p>

  <p>
    <%= t("mailers.comment.new_comment_by_html", commenter: @comment.author.name) %> <%= link_to @commentable.title,
                                                                                                 commentable_url(@commentable),
                                                                                                 style: "font-family: Arial, sans-serif; text-align: left; color: #EB186A; font-size: 13px; text-decoration: underline;",
                                                                                                 target: "_blank"
    %>
  </p>

  <p style="color:#999999;">
    <blockquote style="margin:0px;padding:10px;border-left: 1px solid #999999;color:#999999;"><%= text_with_links @comment.body %></blockquote>
  </p>

  <p>
    <%= t("mailers.config.manage_email_subscriptions") %> <%= link_to t("account.show.title"),
                                                                      account_url,
                                                                      style: "font-family: Arial, sans-serif; text-align: left; color: #EB186A; font-size: 13px; text-decoration: underline;",
                                                                      target: "_blank"
    %>
  </p>

</td>