<% provide :title do %><%= t('pages.titles.conditions') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO DE LA PLATAFORMA WEB “BA ELIGE”</h2>
    <br>

    <br>
    <h4>1. <u>Ámbito de aplicación de las condiciones de uso</u></h4>

    <p style="text-align: justify;">La participación (entendiéndola como participación activa –registro, creación de
      propuestas, apoyo, voto y/o compartir contenido-) en la plataforma web “BA Elige”, correspondiente al Gobierno
      de la Ciudad Autónoma de Buenos Aires, se regula por las presentes Condiciones de Uso y las correspondientes
      Políticas de Privacidad y Seguridad. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo
      fin se solicitará la aceptación de estas Condiciones de Uso y las correspondientes Políticas de Privacidad y
      Seguridad.</p>

    <br>
    <h4>2. <u>Objetivo de la iniciativa</u></h4>

    <p style="text-align: justify;">A través de la plataforma web “BA Elige”, el Gobierno de la Ciudad Autónoma de
      Buenos Aires quiere fomentar la participación de las personas en la gestión de la Ciudad, involucrándolas en la
      generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta
      decidida por una gestión más cercana a las personas, que permitirá recibir sus propuestas y además, fomentar
      canales directos de comunicación con el Gobierno de la Ciudad, contribuyendo a tomar las decisiones más
      acertadas para el interés general.</p>

    <br>
    <h4>3. <u>Cuestiones generales sobre la participación en la Plataforma web “BA Elige”</u></h4>

    <p style="text-align: justify;">Podrá participar cualquier persona humana que se haya registrado previamente en
      la Plataforma web “BA Elige”. Los mayores de edad a cuyo cargo se encuentran los menores que participen, son los
      plenos y exclusivos responsables del registro y la participación activa que tengan éstos en la Plataforma web
      “BA Elige”. Por lo tanto, la participación, en cualquiera de las etapas, de un menor de edad en la plataforma
      web, será de exclusiva responsabilidad de su padre/madre o tutor.</p>

    <br>
    <h4>4. <u>Obligaciones de los usuarios de la Plataforma web “BA Elige”</u></h4>

    <p style="text-align: justify;">Al ser la Plataforma web “BA Elige” un punto de encuentro cuyo objetivo es
      elaborar, apoyar, votar y compartir propuestas relacionadas con la mejora de la Ciudad, los usuarios están
      obligados a hacer un uso diligente y acorde a dicho objetivo.</p>

    <p style="text-align: justify;">El Gobierno de la Ciudad Autónoma de Buenos Aires no es responsable del uso
      incorrecto de la Plataforma web “BA Elige” por los usuarios o de los contenidos localizados en el mismo, siendo
      cada usuario, y en caso de ser menor de edad, su padre/madre o tutor, responsable de su uso correcto y de la
      legalidad de los contenidos y opiniones que haya compartido.</p>

    <p style="text-align: justify;">El Gobierno de la Ciudad Autónoma de Buenos Aires se reserva, por lo tanto, el
      derecho a limitar el acceso a la Plataforma web “BA Elige” de opiniones, informaciones, comentarios o documentos
      que los usuarios quieran incorporar, pudiendo adoptar toda medida que estime pertinente a tal efecto. Todo ello
      se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental del la Plataforma web
      “BA Elige”.</p>

    <p style="text-align: justify;">De acuerdo a la normativa legal vigente queda prohibida la utilización de la
      Plataforma web “BA Elige” del Gobierno de la Ciudad Autónoma de Buenos Aires con fines distintos a los de
      elaborar, apoyar, votar y compartir propuestas, y específicamente:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los
        derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de
        las personas.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el
        oportuno consentimiento de sus titulares.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de
        propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición
        por otros usuarios sin la autorización expresa de estos.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Su utilización con fines de publicidad.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Cualquier otra finalidad ilícita y/o que contraríe la moral pública.
      </li>
    </ul>

    <p style="text-align: justify;">La realización de cualquiera de los anteriores comportamientos permitirá al
      Gobierno de la Ciudad Autónoma de Buenos Aires suspender temporalmente la actividad de un participante,
      inhabilitar su cuenta y/o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser
      reclamadas.</p>

    <p style="text-align: justify;">En caso de que el contenido introducido por los usuarios incorpore un enlace a
      otro sitio web, el Gobierno de la Ciudad Autónoma de Bueno Aires no será responsable por los daños o perjuicios
      derivados del acceso al enlace o a sus contenidos.</p>

    <p style="text-align: justify;">En caso de litigio de cualquier clase o por cualquier motivo entre los
      participantes en la plataforma web y/o un tercero, el Gobierno de la Ciudad Autónoma de Buenos Aires quedará
      exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o
      derivados del litigio.</p>

    <br>
    <h4>5. <u>Etapas de funcionamiento de “BA Elige”:</u></h4>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        <b>Creación de propuestas</b>: No hay límite en la cantidad de propuestas que un usuario puede crear, pero
        cada propuesta debe referirse a una sola Comuna y estar comprendida dentro de alguna de las diez (10)
        categorías existentes.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        <b>Apoyo de propuestas</b>: Consiste en el respaldo de las propuestas creadas. Cada usuario puede apoyar cada
        propuesta una sola vez y hasta un máximo de diez (10) propuestas. La cantidad de apoyos que éstas reciban
        determinará el orden en el que serán analizadas en la siguiente etapa.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        <b>Análisis de las propuestas</b>: En esta etapa diferentes áreas técnicas del Gobierno de la Ciudad Autónoma
        de Buenos Aires analizarán cada propuesta y su validez, viabilidad y legalidad. A su vez, se efectuará un
        presupuesto estimativo de la misma. Las propuestas aprobadas se convertirán en proyectos y pasarán a la
        etapa de votación.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        <b>Votación de proyectos</b>: Podrán participar en esta etapa aquellos vecinos que tengan domicilio actualizado
        en el Documento Nacional de Identidad (DNI) en la Ciudad Autónoma de Buenos Aires. Cada usuario podrá votar
        únicamente en una Comuna a elección, sin necesidad de que corresponda a la de su domicilio. Se podrán votar
        todos los proyectos que se quiera, mientras haya presupuesto disponible, el cual podrá visualizarse en una
        barra ubicada en la parte superior de la pantalla. Cabe destacar que en el caso de salir elegidos dos proyectos
        que sean incompatibles entre sí por la actuación a llevar a cabo (por ejemplo, realizar dos propuestas
        distintas en un mismo lugar/ámbito), se elegirá el que tenga mayor número de votos. En caso de empate, se
        llevará a cabo el que tuviera más apoyos en la fase “Apoyo de propuestas”. En caso de que coincidan, se
        llevará a cabo el que se haya registrado primero en la Plataforma web “BA Elige”. Para que un proyecto se
        pueda ejecutar, deberá contar con, al menos, un voto al finalizar la etapa de votación.
      </li>
    </ul>

    <br>
    <h4>6. <u>Uso de la Plataforma web “BA Elige”:</u></h4>

    <p style="text-align: justify;">Los participantes podrán acceder y navegar por la plataforma web “BA Elige”
      libremente y de forma anónima. Será posible compartir en otras redes (Facebook, Twitter, Google+) contenido de la
      plataforma web “BA Elige” sin necesidad de registrarse previamente.</p>

    <p>Se podrá participar mediante:</p>

    <ul>
      <li>- <b>Registro:</b></li>
    </ul>

    <p style="text-align: justify;">Sólo cuando quieran realizar alguna acción que implique la creación, apoyo,
      comentario o voto de una propuesta, se les solicitará que introduzcan su usuario y contraseña, para cuya
      obtención será necesario registrarse previamente. El registro, que permitirá participar en cualquiera de las
      secciones, creando propuestas, apoyándolas o comentándolas, se realizará introduciendo los siguientes datos:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        Nombre de usuario (nombre público que aparecerá en las publicaciones)
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Correo electrónico
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Contraseña
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Aceptación de las Condiciones de Uso y Políticas de Privacidad y Seguridad de la Plataforma web “BA Elige”
      </li>
    </ul>

    <p style="text-align: justify;">A continuación, el usuario recibirá un correo electrónico con un enlace (link) que
      le permitirá confirmar su cuenta.</p>

    <ul>
      <li>- <b>Identificación a través de otras redes:</b></li>
    </ul>

    <p style="text-align: justify;">La Plataforma web “BA Elige” también permite la identificación y participación
      mediante el usuario de Facebook, Twitter y Google+.</p>

    <ul>
      <li>- <b>Personalmente:</b></li>
    </ul>

    <p style="text-align: justify;">Otra manera de participar en la Plataforma web “BA Elige” es acercándose a
      cualquiera de los Puntos “BA Elige” ubicados en sitios estratégicos de la Ciudad, a través de la Oficina Móvil
      o participando en las reuniones vecinales o de relevancia para utilizar los recursos informáticos con los que
      allí cuenten y así, crear propuestas de manera presencial. Se destaca que para poder participar a través de estos
      medios, se deberá contar previamente con una dirección de correo electrónico válida.</p>

    <b>Figura del gestor:</b>

    <p style="text-align: justify;">Asimismo, la iniciativa “BA Elige” permite la creación de propuestas a través de
      otros medios, en los cuales quien quiera participar podrá contar con la asistencia de un gestor. El mismo actuará
      como intermediario, facilitando el proceso de registro (creación de usuario) y la carga de la propuesta.</p>

    <p>En redes:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        Mediante Formularios Interactivos ubicados en diferentes sitios web y Facebook, donde quien quiera participar
        deberá completar los campos requeridos (nombre, correo electrónico, barrio/comuna, categoría –mediante
        selección desplegable-, propuesta) y aceptar las Condiciones de Uso y Políticas de Privacidad y Seguridad.
        A continuación, un gestor procederá a crear un usuario para poder cargar la propuesta en la plataforma web.
        Posteriormente, el usuario recibirá un correo electrónico con un enlace (link) que le permitirá confirmar su
        cuenta y modificar su contraseña. Si el usuario no confirma su cuenta ni acepta las Condiciones de Uso y
        Políticas de Privacidad y Seguridad, la propuesta creada será dada de baja sin más trámite antes del comienzo
        de la etapa de “Apoyo de propuestas”.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        También será posible crear propuestas en la sección de comentarios públicos de las redes sociales dependientes
        de la Subsecretaría de Comunicación. En estos casos, el usuario recibirá un mensaje en el que se le dará la
        opción de subir su propuesta a la plataforma web “BA Elige” o enviarla por correo electrónico a
        <a href="mailto:baelige@buenosaires.gob.ar">baelige@buenosaires.gob.ar</a>, aclarando nombre y barrio/comuna,
        para que un gestor realice la carga de la propuesta.
      </li>
    </ul>

    <p>Telefónicamente:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        Será posible crear propuestas telefónicamente, llamando al 147, al teléfono de “BA Elige” (011 5091-7340),
        a partir de los llamados que realizará el Gobierno de la Ciudad Autónoma de Buenos Aires por medio de su call
        center o a través de los mensajes de voz grabados (IVR). En todos estos medios, quien quiera participar podrá
        contactarse con un gestor, quien le requerirá un nombre de usuario y una dirección de correo electrónico
        válida. A continuación, el gestor recibirá la propuesta (solicitando además, los siguientes datos: título de
        la propuesta, resumen, texto desarrollado de misma, enlace a video externo, enlace a documentación adicional,
        selección de una Comuna, ubicación, categoría y, en caso de estar proponiendo en nombre de una organización
        o colectivo, identificarla). Luego, el usuario recibirá un correo electrónico que tendrá un enlace (link) para
        confirmar su cuenta, modificar su contraseña y aceptar las Condiciones de Uso y Políticas de Privacidad y
        Seguridad. Si el usuario no confirma su cuenta ni acepta las Condiciones de Uso y Políticas de Privacidad y
        Seguridad, la propuesta creada será dada de baja sin más trámite antes del comienzo de la etapa de “Apoyo de
        propuestas”.
      </li>
    </ul>

    <p style="text-align: justify;">Cabe destacar que el gestor no llevará a cabo tareas de moderación, ni cuestionará la validez ni viabilidad de
      las propuestas que recibe.</p>

    <p style="text-align: justify;">El usuario podrá interactuar con la herramienta interviniendo, al menos, de las siguientes formas:</p>

    <b>A. Propuestas</b>

    <p style="text-align: justify;">En el apartado de propuestas el usuario podrá participar mediante:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        Creación de propuestas: Cada usuario podrá dar de alta una o más propuestas. No existe límite en cuanto al
        número de propuestas o comentarios a presentar por los participantes. Sin embargo, cada propuesta podrá
        referirse únicamente a una sola Comuna.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Redacción de la propuesta: Luego de introducir un título de la propuesta, en donde se describe brevemente
        la misma de un modo claro y preciso, se recomienda desarrollar aquella por medio de una descripción concreta
        y con lenguaje fácilmente entendible, utilizando un máximo de 2000 caracteres. Para completar la argumentación
        se podrán vincular documentos introduciendo el enlace correspondiente siempre que se encuentren subidos a
        Internet, o introduciendo un enlace al contenido situado en diferentes Redes Sociales (Vimeo, Facebook,
        Twitter, Pinterest, Youtube, Slideshare, Flickr, etc).
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Compartir el contenido de la plataforma web “BA Elige” en otras redes sociales (Facebook, Twitter, Google+).
      </li>
    </ul>

    <b>B. Apoyo de Propuestas</b>

    <p style="text-align: justify;">Se podrán apoyar las propuestas creadas por otros usuarios. Las propuestas
      aparecerán con el número de apoyos recibidos. Cada usuario podrá exclusivamente apoyar una vez a una misma
      propuesta y hasta un máximo de 10 propuestas. Cada propuesta podrá ser comentada por el resto de usuarios,
      pudiendo argumentar las razones del apoyo.</p>

    <b>C. Votaciones</b>

    <p style="text-align: justify;">En el apartado de votaciones el usuario podrá participar:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        Votando cualquiera de los proyectos que en la fase de evaluación hayan sido declarados viables luego de la
        etapa de análisis de las áreas técnicas correspondientes.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Cada usuario podrá votar proyectos en una Comuna a su elección, pudiendo votar en cualquier Comuna y no
        siendo necesario que lo haga en aquélla a la cual pertenece. Podrá votar cualquier persona mayor de 16 años
        siempre y cuando cuente con domicilio actualizado en el DNI en la Ciudad Autónoma de Buenos Aires. Dicha
        información se verificará a través de la Dirección General del Estado Civil y Capacidad de las Personas,
        dependiente del Ministerio de Gobierno de la Ciudad Autónoma de Buenos Aires. Para ello, será necesario que
        en esta etapa el usuario verifique su domicilio, debiendo introducir a tales efectos su nombre y apellido,
        sexo y número de DNI.
      </li>
    </ul>

    <br>
    <h4>7. <u>Cuestiones de Procedimiento:</u></h4>

    <b>a. Admisibilidad de las propuestas</b>

    <p style="text-align: justify;">Para la admisibilidad de las mismas éstas deben ser propuestas de inversión
      <%= link_to "¿Qué es un gasto de inversión? ¿En qué se diferencia de un gasto corriente?",
                  page_path('participation_facts')%> que el usuario considere que pueden ser llevadas a cabo por el
      Gobierno de la Ciudad Autónoma de Buenos Aires.</p>

    <p style="text-align: justify;">A su vez, deben quedar comprendidas dentro de las siguientes áreas:</p>

    <ul>
      <li>- Innovación</li>
      <li>- Cultura</li>
      <li>- Educación</li>
      <li>- Plazas y Parques</li>
      <li>- Movilidad y Tránsito</li>
      <li>- Mascotas</li>
      <li>- Reciclado</li>
      <li>- Deportes y Calidad de vida</li>
      <li>- Arte Urbano</li>
      <li>- Ferias y Mercados</li>
    </ul>

    <p style="text-align: justify;">Las propuestas que cumplan con estos requisitos serán publicadas automáticamente.</p>

    <b>b. Validez de las propuestas</b>

    <p style="text-align: justify;">Para la consideración acerca de su validez, los requisitos que deben cumplir las
      propuestas son:</p>

    <ul>
      <li>- No constituir/implicar un gasto corriente
        <%= link_to "¿Qué es un gasto de inversión? ¿En qué se diferencia de un gasto corriente?",
                        page_path('participation_facts')%>.</li>
      <li>- No superar el presupuesto disponible y asignado para cada Comuna (varía según cada Comuna). El presupuesto
        será de hasta 500 millones de pesos y se dividirá entre las 15 comunas que conforman a la Ciudad de Buenos Aires.
        La distribución de los <%= layout_menu_link_to "presupuestos por Comuna",
                                      budget_group_path(@last_budget, @first_group),
                                      controller_name == 'groups',
                                      :"data-no-turbolink" => true %>
        se hará en forma proporcional a su población e inversamente proporcional a su renta per cápita. La fuente
        para calcular el ingreso promedio por habitante fue la Encuesta Anual a Hogares del año 2014 que realizó la
        Dirección General de Estadística y Censos del Gobierno de la Ciudad de Buenos Aires, y el cálculo de habitantes
        por Comuna se basó en el Censo del año 2010 que llevó a cabo el Instituto Nacional de Estadísticas y Censos.</li>
      <li>- No ser contrarias a ninguna ley y/o normativa vigente.</li>
      <li>- Estar incluidas en las categorías disponibles (Innovación, Cultura, Educación, Plazas y Parques, Movilidad
        y Tránsito, Mascotas, Reciclado, Deportes y Calidad de vida, Arte Urbano y Ferias y Mercados).</li>
      <li>- Guardar relación a un gasto de inversión.</li>
      <li>- Ser de interés general para la Comuna que se verá afectada con la propuesta.</li>
      <li>- Corresponder a la jurisdicción de la Ciudad Autónoma de Buenos Aires.</li>
      <li>- No ser contrarias a la moral y las buenas costumbres.</li>
    </ul>

    <b><i>Las propuestas que cumplan estos requisitos, hayan pasado por el proceso de moderación y a su vez cuenten
      con los apoyos necesarios, serán analizadas por las áreas técnicas correspondientes, quienes estimarán sus
      costos y determinarán si son viables o no. Sólo aquellas que hayan sido consideradas como viables en esta última
      evaluación pasarán a la etapa de votación.</i></b>

    <b>c. Reclasificación de propuestas</b>

    <p style="text-align: justify;">Durante las etapas de creación de propuestas y evaluación de las mismas, puede darse la reclasificación de las
      mismas por corresponder a otro ámbito (por ejemplo una propuesta etiquetada en una Comuna determinada que
      correspondía realmente a otra), por lo que en la fase final de votación aparecerán en la nueva sección que se
      haya considerado correspondiente.</p>

    <b>d. Inviabilidad de propuestas</b>

    <p style="text-align: justify;">Durante la primera fase de creación de propuestas, según se reciban éstas, los técnicos de la Plataforma web
      “BA Elige” someterán las mismas a un proceso de moderación para detectar las que fueran claramente inviables.
      Los moderadores tendrán la facultad de contactarse con el autor de la propuesta inviable, para invitarlo a
      reformular la misma.</p>

    <p style="text-align: justify;">Acabado dicho proceso de moderación de propuestas y su consiguiente etapa de formulación de apoyos, se pasará
      a la fase de análisis. En ella se realizará un nuevo estudio de viabilidad mucho más detallado y de costo de
      las propuestas. La complejidad de dichos estudios en comparación con los realizados en las primeras fases
      implicará que sólo sea posible realizarlo para una parte de todas las propuestas presentadas. Los estudios se
      realizarán en el orden de apoyos decidido por la gente en la fase anterior y por categoría, desde las propuestas
      más apoyadas a las menos apoyadas por categoría, intentando que hubiera un número de propuestas viables similar
      en cada Comuna.</p>

    <p style="text-align: justify;">Todos los análisis de viabilidad y de coste serán realizados por las áreas técnicas del Gobierno de la Ciudad
      Autónoma de Buenos Aires competentes a la temática de cada propuesta. El estudio se efectuará de manera
      independiente y neutral, atendiendo únicamente a los criterios de evaluación que se han marcado públicamente
      para el proceso.</p>

    <p style="text-align: justify;">Las propuestas que fueran marcadas como viables se convierten en proyectos y pasan a la fase de votación
      final.</p>

    <b>e. Propuestas Repetidas</b>

    <p style="text-align: justify;">Durante la primera fase de creación de propuestas, es probable que se detecten propuestas repetidas o muy
      similares. Los moderadores tendrán la facultad de recopilar todas las propuestas repetidas, contactar a sus
      autores y brindarles la posibilidad de retirar su propuesta y/o sugerirles alguna propuesta que por su amplia
      formulación se considerase podría representar correctamente a las demás. En el caso de que algún autor quisiera
      mantener su propuesta a pesar de ser similar a otras, el Gobierno de la Ciudad Autónoma de Buenos Aires respetará
      su decisión.</p>

    <p style="text-align: justify;">En la fase de análisis, los técnicos de las áreas competentes del Gobierno de la Ciudad Autónoma de Buenos
      Aires deberán revisar propuestas que, en el caso de ser aprobadas, implicarían exactamente la misma actuación
      por parte del Gobierno de la Ciudad Autónoma de Buenos Aires. En dicho caso serán marcadas como inviables todas
      las propuestas, a excepción de la que cuente con mayor número de apoyos en la anterior fase, señalándolo así en
      el informe de inviabilidad.</p>

    <br>
    <h4>8. <u>Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</u></h4>

    <p style="text-align: justify;">Las presentes condiciones regulan los términos aplicables al contenido remitido por los usuarios de esta
      plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican
      tanto al contenido inicialmente remitido a la Plataforma web “BA Elige” como a cualquier contenido que se envíe
      con posterioridad o se manifieste al Gobierno de la Ciudad Autónoma de Buenos Aires, debiendo destacarse lo
      siguiente:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        <u>No Confidencialidad</u>: Todo el contenido remitido por el usuario al Gobierno de la Ciudad Autónoma de Buenos
        Aires deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Gobierno de la
        Ciudad Autónoma de Buenos Aires tratará el citado contenido como información no confidencial.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        <u>Procedimiento</u>: En el caso de que el Gobierno de la Ciudad Autónoma de Buenos Aires esté interesado en el
        contenido remitido por el usuario, se pondrá en contacto con él para solicitarle información adicional. Dicha
        información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes
        consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente
        Acuerdo de Confidencialidad. <br>
        El Gobierno de la Ciudad Autónoma de Buenos Aires se reserva el derecho de no contactar con los usuarios que
        le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en las “Políticas de Privacidad y
        Seguridad”. En el supuesto que el Gobierno de la Ciudad Autónoma de Buenos Aires, a su entera discreción,
        decidiera contactar con determinados usuarios, éstos conocen y aceptan que por ello el Gobierno de la Ciudad
        Autónoma de Buenos Aires no adquiere compromiso alguno.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        <u>Publicidad o difusión de los contenidos presentados</u>: Los participantes en la Plataforma web “BA Elige” del
        Gobierno de la Ciudad Autónoma de Buenos Aires declaran conocer y aceptar el hecho de que la información
        aportada podrá ser publicada en las páginas web administradas por el Gobierno de la Ciudad Autónoma de Buenos
        Aires, así como a través de otros medios que el Gobierno de la Ciudad Autónoma de Buenos Aires considere
        oportunos para dar a conocer esta iniciativa. Asimismo, aceptan que el contenido pueda ser compartido en otras
        redes sociales (Facebook, Twitter, Google+) por otros usuarios y/o terceros.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        <u>No devolución material</u>: El Gobierno de la Ciudad Autónoma de Buenos Aires carece de obligación alguna de
        devolver el Contenido remitido por los usuarios.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        <u>Procedimiento de aviso y retirada</u>: Cualquier persona, con motivos razonados, si existiese incumplimiento de
        las presentes Condiciones de Uso, podrá solicitar la retirada de contenidos al Gobierno de la Ciudad Autónoma
        de Buenos Aires. El Gobierno de la Ciudad Autónoma de Buenos Aires procesará las peticiones de eliminación o
        retirada de contenidos que hayan añadido los participantes que incumplan las presentes Condiciones de Uso.
        Éste se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la
        retirada de cualquier contenido.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara,
        con la aceptación de las Condiciones de Uso, ser titular de los derechos de propiedad intelectual y/o
        industrial u ostentar derechos suficientes sobre dicho contenido y que además, lo remite al Gobierno de la
        Ciudad Autónoma de Buenos Aires de forma gratuita y voluntaria, mediante la correspondiente instrumentación,
        para su divulgación en la plataforma web de “BA Elige” del Gobierno de la Ciudad Autónoma de Buenos Aires. <br>
        Por el hecho de cargar o enviar material o contenido de cualquier naturaleza para ser usado en la plataforma
        web “BA Elige”, el usuario concede (o garantiza que el titular de tal material o contenido ha cedido
        expresamente) al Gobierno de la Ciudad Autónoma de Buenos Aires sus derechos de propiedad intelectual e
        industrial y/o licencia, general, libre de todo cargo, irrevocable y no exclusiva para usar ese material o
        contenido, confiriendo además el derecho para contratar, utilizar, reproducir, modificar, adaptar, publicar,
        reproducir o presentar públicamente, presentar o traducir digitalmente, crear trabajos derivados y distribuir
        dichos materiales o incorporarlos a cualquier forma, medio, o tecnología conocida o por conocer. Luego de
        analizar cada propuesta en concreto, el Gobierno de la Ciudad Autónoma de Buenos Aires, se reserva la facultad
        de citar al usuario para la suscripción del contrato correspondiente. <br>
        El usuario acepta que cualquier tipo de información, incluyendo las propuestas, sugerencias, planes, ideas,
        conceptos, experiencias, técnicas, comentarios, preguntas o respuestas, que facilite a través de la plataforma
        web “BA Elige” no sea confidencial y que por tanto el Gobierno de la Ciudad Autónoma de Buenos Aires posee
        derechos de carácter ilimitado para usar o no usar, distribuir o no distribuir, reproducir o no reproducir, y
        revelar o no revelar dicha información de la forma y modo que el Gobierno de la Ciudad Autónoma de Buenos Aires
        pueda considerar apropiado, con cualquier fin o propósito que, de alguna manera, sean fruto de dicha
        información, sin que ello genere derecho a indemnización o compensación alguna ni a reconocimiento de su
        fuente. <br>
        El Gobierno de la Ciudad Autónoma de Buenos Aires no asume responsabilidad alguna, ya sea directa o indirecta,
        respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación,
        divulgación y/o difusión de los contenidos aportados sin el consentimiento de sus legítimos titulares.
      </li>
    </ul>

    <br>
    <h4>9. <u>Jurisdicción</u></h4>

    <p style="text-align: justify;">Las personas que participen en la Plataforma web “BA Elige” se comprometen a solucionar amigablemente con el
      Gobierno de la Ciudad Autónoma de Buenos Aires, las diferencias que se pudieran presentar sobre cualquier
      aspecto relativo a la interpretación y/o desarrollo de dicha plataforma web. De no ser ello posible se someten
      a la competencia de los Tribunales en lo Contencioso Administrativo y Tributario de la Ciudad Autónoma de Buenos
      Aires, con renuncia expresa a cualquier otro fuero y/o jurisdicción que pudiere corresponderles.</p>

    <br>
    <h4>10. <u>Revisión/modificación de las Condiciones de Uso</u></h4>

    <p style="text-align: justify;">El Gobierno de la Ciudad Autónoma de Buenos Aires se reserva el derecho de revisar y/o modificar las presentes
      Condiciones de Uso y las Políticas de Privacidad y Seguridad en cualquier momento y por cualquier razón. En
      dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando
      la plataforma web “BA Elige”, se entenderán aceptadas las modificaciones introducidas.</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
